﻿@model IEnumerable<bankApp.Models.CUSTOMER>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ADDRESS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CITY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUST_TYPE_CD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FED_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.POSTAL_CODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BUSINESS.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INDIVIDUAL.FIRST_NAME)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
    <tr>
        <td style="background-color: gray;">
            @Html.DisplayFor(modelItem => item.ADDRESS)
        </td>
        <td style="background-color: gray;">
            @Html.DisplayFor(modelItem => item.CITY)
        </td>
        <td style="background-color: gray;">
            @Html.DisplayFor(modelItem => item.CUST_TYPE_CD)
        </td>
        <td style="background-color: gray;">
            @Html.DisplayFor(modelItem => item.FED_ID)
        </td>
        <td style="background-color: gray;">
            @Html.DisplayFor(modelItem => item.POSTAL_CODE)
        </td>
        <td style="background-color: gray;">
            @Html.DisplayFor(modelItem => item.STATE)
        </td>
        <td style="background-color: gray;">
            @Html.DisplayFor(modelItem => item.BUSINESS.NAME)
        </td>
        <td style="background-color: gray;">
            @Html.DisplayFor(modelItem => item.INDIVIDUAL.FIRST_NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CUST_ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.CUST_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CUST_ID })
        </td>
    </tr>
    <tr>
        <td>
            <button onclick="toggleView(@item.CUST_ID)" id="btn_@item.CUST_ID">View More</button>
        </td>
        <td colspan="7">
            <div id="@item.CUST_ID" style="display: none;">
                @RenderPage("~/Views/View.cshtml", new { Model = item.ACCOUNTs })
            </div>
        </td>
    </tr>
    }
</table>

<script>
    function toggleView(id) {
        if (document.getElementById(`${id}`).style.display == "none") {
            document.getElementById(`${id}`).style.display = "block";
            document.getElementById(`btn_${id}`).innerHTML = "Hide";
        } else {
            document.getElementById(`${id}`).style.display = "none";
            document.getElementById(`btn_${id}`).innerHTML = "View More";
        }
    }
</script>