﻿<table class="table">
    <tr>
        <th>
            STATUS
        </th>
        <th>
            BRANCH.ADDRESS
        </th>
        <th>
            CUSTOMER.ADDRESS
        </th>
        <th>
            EMPLOYEE.FIRST_NAME
        </th>
        <th>
            PRODUCT.NAME
        </th>
        <th></th>
    </tr>

    @foreach (var item in Page.Model)
    {
    <tr>
        <td style="background-color: yellowgreen;">
            @item.STATUS
        </td>
        <td style="background-color: yellowgreen;">
            @item.BRANCH.ADDRESS
        </td>
        <td style="background-color: yellowgreen;">
            @item.CUSTOMER.ADDRESS
        </td>
        <td style="background-color: yellowgreen;">
            @item.EMPLOYEE.FIRST_NAME
        </td>
        <td style="background-color: yellowgreen;">
            @item.PRODUCT.NAME
        </td>
        <th>
            <a href="/ACCOUNTs/Edit/@item.ACCOUNT_ID">Edit</a>
        </th>
    </tr>
    <tr>
        <td>
            Transfer History
        </td>
        <td colspan="4">
            @RenderPage("~/Views/View1.cshtml", new { Model = item.ACC_TRANSACTION })
        </td>
    </tr>
    }
</table>
