﻿
<table class="table">
    <tr>
        <th>
            AMOUNT
        </th>
        <th>
            FUNDS_AVAIL_DATE
        </th>
    </tr>

    @foreach (var item in Page.Model) {
    <tr>
        <td style="background-color: aquamarine;">
            @item.AMOUNT
        </td>
        <td style="background-color: aquamarine;">
            @item.FUNDS_AVAIL_DATE
        </td>
    </tr>
    }
</table>
